:root {
  --accent-color: #de2e54;
  --bg-color: #0eb4c1;
  --footer-color: #222;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;

}


.header {
  padding-top: 24px;
  padding-bottom: 24px;
}


.header__div {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #222;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__ul {
  display: flex;

  margin: 0;
  padding: 0;
}

.header__list {
  margin-top: 0;
  color: #222;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 21px */
  letter-spacing: 2px;
  text-transform: uppercase;
  list-style: none;
}

.header__list:not(:last-child) {
  margin-right: 32px;
}

.header__links {
  color: #222;
  text-decoration: none;
}

.button {
  cursor: pointer;
  margin-top: 0;
  padding: 12px 24px;
  text-decoration: none;
  color: #FFF;
  font-family: Open Sans Condensed;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 8px;
  border: 2px solid var(--accent-color);
  background: var(--accent-color)
}

.section {
  padding-top: 120px;

  background-color: var(--bg-color);
}

.section__div {
  display: flex;
  justify-content: space-between;
}

.section__text {
  margin-top: 0;
  margin-bottom: 16px;
  color: #FFF;
  font-family: Open Sans Condensed;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;

}

.section__text--two {
  margin-top: 0;
  margin-bottom: 36px;
  width: 440px;
  color: #FFF;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.button--wide {
  text-decoration: none;
  cursor: pointer;
  padding: 12px 24px;
  color: #FFF;
  font-family: Open Sans Condensed;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 22.5px */
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 8px;
  border: 2px solid var(--accent-color);
  background: var(--accent-color);
}



.main__reception {
  margin-top: 0;
  margin-bottom: 56px;
  padding-top: 120px;
  color: #000;
  text-align: center;
  font-family: Open Sans Condensed;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.main__ul{
  margin: 0;
  padding: 0;
}

.main__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.main__list:not(:last-child){
  margin-bottom: 80px;
}

.main__list:nth-child(4){
  margin-bottom: 60px;
}
.main__img{
  margin-right: 60px;
}

.main__text {
  margin-bottom: 24px;
  margin-top: 0;
  color: #222;
  font-family: Open Sans Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.main__text--two {
  margin-top: 0;
  width: 600px;
  color: #444;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
}

.main__button{
  display: flex;
  justify-content: center;
  align-items: center;
}


.feature {
  margin-top: 120px;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: var(--bg-color);
}

.feature__wrapper{
display: flex;
justify-content: center;
align-items: center;
}

.feature__sign{
  margin-top: 0;
  margin-bottom: 42px;
  color: #FFF;
font-family: Open Sans Condensed;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 120%; 
}
.feature__call {

  text-decoration: none;
  text-align: center;
  padding: 12px 24px;
  border-radius: 8px;
border: 2px solid #FFF;
  color: #FFF;
font-family: Open Sans Condensed;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 18px */
letter-spacing: 2px;
text-transform: uppercase;
}

.feature__call:not(:last-child){
  margin-right: 40px;
}
.feature__wrapper--call{
display: flex;
justify-content: center;
}

.footer{

  background-color: var(--footer-color);
}
.footer__div{
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.footer__logo{
  text-decoration: none;
  color: #FFF;
}
.footer__ul{
  display: flex;
}
.footer__list{
  list-style: none;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 150%;
letter-spacing: 2px;
text-transform: uppercase;
}
.footer__list:not(:last-child){
margin-right: 32px;
}
.footer__link{
  text-decoration: none;
  color: #FFF;
}